<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
    <hr/>
    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                
                
            </div>
            <!--/.First column-->

            
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center" style="margin-bottom: 40px">
        © 2018 Copyright:
        <a href="#">하성정보</a>
    </div>
    <!--/.Copyright-->

</footer>