

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <!--bootstrap-select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <% include ./partials/head %>
    
<style>
        .hero_home{
            margin-top:-30px;
            height:500px;
            width:100%;
        }
        .hero_home, .version_1{
            text-transform: uppercase;
            align-self: auto;
            background:url(./images/search.svg) center bottom no-repeat #3f4079;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            -o-background-size:cover;
            background-size:cover;
            font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        }
        .hero_home, .version_1, .content{
            background-color:#3f4079;
        }
        .btn, .btn-success{
            width: 100%;
            height: 50px;
            background-color: #74d1c6;
            border-color: #74d1c6;
        }
        .btn:hover, .btn:active, .btn:focus{
            background-color: #e74e84;
            border-color: #e74e84;
        }
        h1{
            padding-top: 80px;
            font-size : 70px;;
        }
        .container-padding50{
            left:50%;
        }
        .input-group{
            width: auto;   
        }
        .form-control{
            font: 400 18px Arial;
            font-size: 18px;
            width: 100%;
            height: 50px;
            color: #333;
        }
        .main_title {
            text-align: center;
            margin-bottom: 45px;
        }
        a.btn_1{
            padding: 12px 45px;
            text-align: center;
            border: none;
            color: #fff;
            background: #e74e84;
            border-radius: 12px;
        }
        .col-lg-4{
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
/*
    .box_feat #icon_1{
		background:url(./images/hospital.svg)
		center 45px
		no-repeat #fff
	}
	.box_feat #icon_2{
		background:url(./images/view.svg)
		center 45px
		no-repeat #fff
	}
	.box_feat #icon_3{
		background:url(./images/hand.svg)
		center 45px
		no-repeat #fff
	}
	.box_feat span{
		position:absolute;
		top:50%;
		right:-48px;
		margin:-42px 0 0;
		width:70px;
		height:70px;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
		-ms-border-radius:50%;
		border-radius:50%;
		border:2px solid #ededed;
		background:url(./images/arrow-button.svg) center center no-repeat #fff;
		display:block;
    }
*/
</style>
  </head>
  <body>
        
    
    <% include ./partials/top %>

    <div class=" hero_home version_1">
        <div class= "container">
            <marquee direction="up" behavior="slide" scrollamount='10'>
                <h1 align='center'><font color="white"  style="text-shadow:1px 1px 0px black"><strong>Find Hospital</strong></font></h1>
                <h2></h2>
            </marquee>

            <form class="form" id="hos" action="/hospital" role="form" method="get" >
                    <div class="input-group" >
                        <input type="text" class="form-control" align="center" name='search_text' id='search_text' placeholder="Search for...">
                        <span class="input-group-btn">
                                <input type="submit" id='search_button' align="center" value="Search" class="btn btn-success">
                        </span>
                    </div><!-- /input-group -->
            </form>
        </div>
    </div>

        <div class="container">
			<div class="main_title">
				<h2>Discover the <strong>online</strong> appointment!</h2>
			</div>
			<div class="row ">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						<span></span>
						<h3>Find Hosptial</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<span></span>
						<h3>View profile</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>Book a visit</h3>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center"><a href="/hospital" class="btn_1"><strong>Find Hospital</strong></a></p>

        </div>
        
    <!-- Footer  -->
    <% include ./partials/footer.ejs %>
  
  </body>
</html>