

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no , initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    
    

    <% include ./partials/head %>
    <!--page 스타일 설정 연결-->
    <link rel="stylesheet" href="/stylesheets/index-2_style.css">

  </head>
  <body>
        
    
    <% include ./partials/top %>

    <div class=" hero_home version_1">
        <div class= "container">
            <marquee direction="up" behavior="slide" scrollamount='10'>
                <h1 align='center'><font color="white"  style="text-shadow:1px 1px 0px black"><strong>Find Hospital</strong></font></h1>
                <h2></h2>
            </marquee>

            <form class="form" id="hos" action="/hospital" role="form" method="get" >
                    <div class="input-group" >
                        <input type="text" class="form-control" align="center" name='search_text' id='search_text' placeholder="Search for...">
                        <span class="input-group-btn">
                                <input type="submit" id='search_button' align="center" value="Search" class="btn btn-success">
                        </span>
                    </div><!-- /input-group -->
            </form>
        </div>
    </div>

        <div class="container margin_120_95">
			<div class="main_title">
				<h2>Discover the <strong>online</strong> appointment!</h2>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						<span></span>
						<h3>Find Hosptial</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<span></span>
						<h3>View profile</h3>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>Book a visit</h3>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center"><a href="/hospital" class="btn_1"><strong>Find Hospital</strong></a></p>

        </div>
        
    <!-- Footer  -->
    <% include ./partials/footer.ejs %>
  
  </body>
</html>